
<footer class="footer">
    <a href="https://twitter.com/subhan1syed"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a>
    <a href="https://linktr.ee/Subhani_syed"><img src="https://img.icons8.com/color/48/000000/linktree.png"/></a>
    <a href="https://www.linkedin.com/in/subhani-syed"><img src="https://img.icons8.com/color/48/000000/linkedin.png"/></a>
    <p>Made with ❤️ by Subhani</p>
</footer>
</body>
</html>