<%- include('partials/header'); -%>

<h1>Home</h1>
<p>This is the msg- <%= Msg%> </p>

    for (var i=0;i<posts.length();i++){
        console.log(posts[i]);
    }

<% console.log(posts) %>
<%- include('partials/footer'); -%>