h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_bar{
    /* display: flex; */
    /* align-items: center; */
    background-color: #222831;
    overflow: hidden;
}
.nav_bar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* font-size: large; */
}
.nav_bar a:hover{
    background-color: #00adb5;
    color: #eeeeee;
}
.nav_bar a.active{
    background-color: #00adb5;
    color: white;
}
body{
    background-color: #eeeeee;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}