p{
    font-size: large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_bar{
    border-radius: 10px;
    display: flex;
    justify-content:center;
    background-color: #222831;
    overflow: hidden;
}
.nav_bar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav_bar a:hover{
    border-radius: 10px;
    background-color: #00adb5;
    color: #eeeeee;
}
.nav_bar a.active{
    background-color: #00adb5;
    color: white;
}
body{
    background-color: #eeeeee;
}
.footer{
    /* position: fixed; */
    left: 0;
    /* bottom: 0;  */
    width: 100%; 
    text-align: center;
    position: absolute;
}
.compose{
    text-align: center;
    background-color:#00adb5;
    border-radius: 10px;
}
.text{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-head{
    border-radius: 10px;
    background-color: #00adb5;    
}
.post-body{
    border-radius: 10px;
    text-align: center;
}
.express_logo{
    height: 48px;
}
.logos{
    padding: 10px;
    text-align: center;
}
